body{
    
}
.container{
    width:clamp(400px, 70%, 700px);
   box-shadow:5px 3px  15px  black ;
    margin:0 auto;
    height:95vh;
    display: flex;
    flex-direction: column;

}
.title{
    margin:0;
    color: chocolate;
}

.deletelog{
    position: absolute;
    right:0;
    top:0;
    padding:5px 10px 5px 10px;
    height: 100%;
    background-color:brown;
    font-size: 1.5rem;
}
p{
    margin: 0;
    padding: 0;
}

.deletelog:hover{
    background-color: aliceblue;
}

.logContainer{

    height:68%;
   
}
h2{
    text-align: center;
}
.logContainer > ol{
    height:50vh;
    overflow-y: auto;
    border: 1px solid chocolate;
    width:90%;
    
}
ol::-webkit-scrollbar{
    width: 1rem;
}

ol::-webkit-scrollbar-track{
    background: rgb(191, 191, 196);
}

ol::-webkit-scrollbar-thumb{
    background-color: rgba(210, 105, 30, 0.411);;
}

.logContainer > ol>li{
    font-size: 1.2rem;
    width: clamp(300px, 90%, 700px);
    background-color: rgba(165, 42, 42, 0.26);
    position: relative;
    height: 3rem;
    margin:0.3rem 0 0.2rem 0;
    
    
}


.inputContainer{
    height:32%;
    background-color: rgba(210, 105, 30, 0.411);
}

form{
    display: grid;
    grid-template-columns:1fr 1fr;
    margin-bottom: 1rem;
}

.field, select{
    margin:0.5rem;
    display: flex;
    flex-direction: column;
    width: clamp(10rem, 90%, 20rem);
}

label{
    text-align: center;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input, select{
    width:clamp(10rem, 90%, 20rem);
    height:1.5rem;
    background:none;
    border:none;
    border-bottom: 1.5px outset brown;
    border-radius: 5px;
}

input:focus, select:focus{
   outline:none;
   background:  rgba(210, 105, 30, 0.671);
}

#submit {
    width:clamp(5rem, 50%, 10rem);
    margin: 0.3rem auto;
    padding:0.5rem;
    border-radius: 5px;
    grid-column: 1 /span 2;
}

#submit:hover{
    background-color: brown;
    color:aliceblue;
}